trigger:
  tags:
    include:
    - v*
  branches:
    include:
    - master

pr:
- master

variables:
  package_name: pycraf
  is.tag: ${{ startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}
  publish.wheels: ${{ startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}
  is.master: ${{ startsWith(variables['Build.SourceBranch'], 'refs/heads/master') }}
  is.pullrequest: ${{ startsWith(variables['Build.Reason'], 'PullRequest') }}
  # is.tag: ${{ true }}
  # why is the following not working? --> because Agent.OS is not available
  # at compile time (would be necessary for template expressions to work)
  is.linux: ${{ startsWith(variables['Agent.OS'], 'Linux') }}
  is.macos: ${{ startsWith(variables['Agent.OS'], 'Darwin') }}
  is.win: ${{ startsWith(variables['Agent.OS'], 'Windows') }}

jobs:

- job:
  displayName: Job

  variables:
    arch: x86_64
    plat: manylinux2010_x86_64
    image: quay.io/pypa/manylinux2010_x86_64
    # plat: manylinux2014_x86_64
    # image: quay.io/pypa/manylinux2014_x86_64
    # for very old systems, the following would also be an alternative:
    # plat: manylinux1_x86_64
    # image: skhep/manylinuxgcc-x86_64
    python.architecture: x64
    # ${{ if not(startsWith(variables['Agent.OS'], 'Windows')) }}:
    #   srtmdata: ${{ format('{0}/srtm', variables['Agent.BuildDirectory']) }}
    # ${{ if startsWith(variables['Agent.OS'], 'Windows') }}:
    #   srtmdata: ${{ format('{0}\srtm', variables['Agent.BuildDirectory']) }}
    # srtmdata: ${{ format('{0}/srtm', variables['Agent.BuildDirectory']) }}
    sphinx.version: '>=3.0'
    pyproj.version: '==1.9.5.1'
    qt.version: '>=5.9'
    pytestqt.version: '<4'

  strategy:
    matrix:
      # linux35:
      #   imageName: 'ubuntu-latest'
      #   python.version: '3.5'
      #   py_whl: 35
      #   numpy.version: '1.13.1'
      #   astropy.version: '2'
      #   sphinx.version: '<3.0'
      # linux36:
      #   imageName: 'ubuntu-latest'
      #   python.version: '3.6'
      #   py_whl: 36
      #   numpy.version: '1.13.1'
      #   astropy.version: '3'
      linux37:
        # note: manylinux builds could have different version pins!
        # see pip-requirements-dev
        imageName: 'ubuntu-latest'
        python.version: '3.7'
        py_whl: cp37-
        numpy.version: '1.14.5'
        astropy.version: '3'
        # docs should only be published by one thread, as they are version-
        # independent; and only if on the master branch
      linux38:
        imageName: 'ubuntu-latest'
        python.version: '3.8'
        py_whl: cp38-
        # numpy.version: '1.17.4'
        numpy.version: '1.18.1'
        astropy.version: '4'
        pyproj.version: '>=2.2,<3'
        # qt.version: '>=5.11'
        # pytestqt.version: '>=4'
        publish.docs: ${{ or(eq(variables['is.master'], true), eq(variables['is.tag'], true)) }}
        # publish.docs: ${{ true }}
        ${{ if eq(variables['is.tag'], true) }}:
          docs.target: '.'
        ${{ if eq(variables['is.tag'], false) }}:
          docs.target: 'latest'
        # tarball should only be published by one thread, as it is version-
        # independent
        build.tarball: ${{ true }}
        publish.tarball: ${{ eq(variables['is.tag'], true) }}
      linux39:
        imageName: 'ubuntu-latest'
        python.version: '3.9'
        py_whl: cp39-
        numpy.version: '1.20.0'
        astropy.version: '5'
        pyproj.version: '>=2.2'
        qt.version: '>=5.11'
        pytestqt.version: '>=4'
      # mac35:
      #   imageName: 'macos-10.14'
      #   python.version: '3.5'
      #   numpy.version: '1.13.1'
      #   astropy.version: '2'
      #   sphinx.version: '<3.0'
      # mac36:
      #   imageName: 'macos-10.14'
      #   python.version: '3.6'
      #   numpy.version: '1.13.1'
      #   astropy.version: '3'
      mac37:
        imageName: 'macos-10.15'
        python.version: '3.7'
        numpy.version: '1.14.5'
        astropy.version: '3'
      # mac 3.8 leads to anaconda conflicts
      # mac38:
      #   imageName: 'macos-10.15'
      #   python.version: '3.8'
      #   numpy.version: '1.18.1'
      #   astropy.version: '4'
      #   pyproj.version: '>=2.2'
      #   # qt.version: '>=5.11'
      #   # pytestqt.version: '>=4'
      # win35:
      #   imageName: 'vs2017-win2016'
      #   python.version: '3.5'
      #   numpy.version: '1.13.1'
      #   astropy.version: '2'
      #   sphinx.version: '<3.0'
      # win36:
      #   imageName: 'vs2017-win2016'
      #   python.version: '3.6'
      #   numpy.version: '1.13.1'
      #   astropy.version: '3'
      win37:
        imageName: 'windows-latest'
        python.version: '3.7'
        numpy.version: '1.14.5'
        astropy.version: '3'
      win38:
        imageName: 'windows-latest'
        python.version: '3.8'
        # numpy.version: '1.17.4'
        numpy.version: '1.18.1'
        astropy.version: '4'
        pyproj.version: '>=2.2,<3'
        # qt.version: '>=5.11'
        # pytestqt.version: '>=4'
      win39:
        imageName: 'windows-latest'
        python.version: '3.9'
        numpy.version: '1.20.0'
        astropy.version: '5'
        pyproj.version: '>=2.2'
        qt.version: '>=5.11'
        pytestqt.version: '>=4'

  pool:
    vmImage: $(imageName)

  steps:

  - bash: |
      sudo chown -R $USER $CONDA
    displayName: Fix a conda bug on MacOS
    condition: startsWith(variables['Agent.OS'], 'Darwin')
    
  - bash: |
      echo "##vso[task.prependpath]$CONDA/bin"
      echo "##vso[task.setvariable variable=conda.activate]source activate"
      echo "##vso[task.setvariable variable=srtmdata]$(Agent.BuildDirectory)/srtm"
    displayName: Add conda to PATH, Linux/MacOS
    condition: not(startsWith(variables['Agent.OS'], 'Windows'))

  - bash: |
      echo "##vso[task.setvariable variable=display]:99.0"
      /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX +render -noreset
    displayName: Activate display, Linux
    condition: startsWith(variables['Agent.OS'], 'Linux')

  # echo "##vso[task.setvariable variable=conda.activate]call $env:CONDA\Scripts\activate.bat"
  - powershell: |
      Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
      echo "##vso[task.setvariable variable=conda.activate]call activate.bat"
      echo "##vso[task.setvariable variable=srtmdata]$(Agent.BuildDirectory)\srtm"
    displayName: Add conda to PATH, Windows
    condition: startsWith(variables['Agent.OS'], 'Windows')

  - script: |
      echo on
    displayName: Verbosity on Win
    condition: startsWith(variables['Agent.OS'], 'Windows')

  - script: |
      echo "Build.SourceBranch" $(Build.SourceBranch)
      echo "Agent.BuildDirectory" $(Agent.BuildDirectory)
      echo "Agent.OS" $(Agent.OS) "/" ${{ variables['Agent.OS'] }}
      echo "is.linux" $(is.linux) "/" ${{ variables['is.linux'] }}
      echo "is.macos" $(is.macos) "/" ${{ variables['is.macos'] }}
      echo "is.win" $(is.win) "/" ${{ variables['is.win'] }}
      echo "srtmdata" $(srtmdata)
      echo "conda.activate" $(conda.activate)
      echo "is.tag" $(is.tag)
      echo "publish.docs" $(publish.docs)
      echo "is.pullrequest" $(is.pullrequest)
      echo "docs.target" $(docs.target)
      echo "publish.wheels" $(publish.wheels)
      echo "python.version" $(python.version)
      echo "py_whl" $(py_whl)
      echo "numpy.version" $(numpy.version)
      echo "astropy.version" $(astropy.version)
      echo "sphinx.version" $(sphinx.version)
      echo "pyproj.version" $(pyproj.version)
      echo "imageName" $(imageName)
    displayName: Show Vars

  - script: |
      mkdir $(srtmdata)
    displayName: Create SRTM directory

  - script: |
      conda install --yes -c conda-forge mamba
      conda create --yes --quiet --name pycraf-env -c conda-forge
    displayName: Create Anaconda environment

  # note: with project.toml it should not be necessary to have cython
  # installed already, but on PRs building wheels and the tarball still fails
  # for some reason!? therefore, we add it here (should also be faster than
  # pip installation)
  - script: |
      $(conda.activate) pycraf-env
      mamba install --yes --quiet -c conda-forge python=$(python.version) astropy=$(astropy.version) cython h5py matplotlib numpy==$(numpy.version) pip "pyproj$(pyproj.version)" "pyqt$(qt.version)" "pytest<6" pytest-astropy "pytest-doctestplus<0.6.1" hypothesis "pytest-qt$(pytestqt.version)" rasterio scipy "sgp4>2" "sphinx$(sphinx.version)" sphinx-astropy twine wheel
    displayName: Install Anaconda packages

  # need to fix cctools and ld64 to slightly older version, otherwise an
  # error ("ld: library not found for -lSystem") occurs during build
  - script: |
      $(conda.activate) pycraf-env
      mamba install --yes --quiet --name pycraf-env -c conda-forge clang_osx-64 clangxx_osx-64 llvm-openmp openmp cctools==921 ld64==409.12 ta-lib
    displayName: Prepare clang, MacOS
    # condition: and(succeeded(), eq(variables['is.macos'], true))
    condition: and(succeeded(), startsWith(variables['Agent.OS'], 'Darwin'), lt(variables['python.version'], 3.8))

  - script: |
      $(conda.activate) pycraf-env
      mamba install --yes --quiet --name pycraf-env -c conda-forge clang_osx-64 clangxx_osx-64 llvm-openmp openmp cctools ld64 ta-lib
    displayName: Prepare clang, MacOS
    # condition: and(succeeded(), eq(variables['is.macos'], true))
    condition: and(succeeded(), startsWith(variables['Agent.OS'], 'Darwin'), ge(variables['python.version'], 3.8))

  - bash: |
      sudo rm -rf /Library/Developer/CommandLineTools
      xcode-select --install
    displayName: Fix problem with MacOS compiler/linker
    condition: startsWith(variables['Agent.OS'], 'Darwin')

  - script: |
      $(conda.activate) pycraf-env
      pip install -e .
    displayName: Building

  # pytest -rsx --doctest-rst docs pycraf
  # If GUI tests are desired:
  # python setup.py test --remote-data=any -a --do-gui-tests
  - script: |
      $(conda.activate) pycraf-env
      pip install pytest-azurepipelines
      python setup.py test --remote-data=any
    displayName: Testing

  # sphinx-build docs docs/_build/html -W -b html
  # conda install --yes --quiet --name pycraf-env -c conda-forge sphinx-astropy
  - script: |
      $(conda.activate) pycraf-env
      python setup.py build_docs -v -v -v
    displayName: Make docs
    condition: succeeded()

  - task: DownloadSecureFile@1
    inputs:
      secureFile: ghpages_deploykey_azure
    displayName: 'Get the deploy key'
    # condition: and(succeeded(), eq(variables['publish.docs'], true))
    condition: and(succeeded(), eq(variables['publish.docs'], true))

  - bash: |
      mkdir ~/.ssh && mv $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
      chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
      ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      $(conda.activate) pycraf-env
      pip install .
      mkdir gh_pages && cd gh_pages
      git init
      git config --local user.name "Benjamin Winkel"
      git config --local user.email "bwinkel@mpifr.de"
      git remote add github git@github.com:bwinkel/pycraf.git
      git fetch github gh-pages
      git checkout --track github/gh-pages
      # mkdir -p ./$DOCS_TARGET
      # for some strange reason, the new package versions (astropy?) create
      # the _build/html in docs/docs and not in docs/
      rsync -av ../docs/docs/_build/html/ ${DOCS_TARGET}/
      docs_version=$(python -c "import pycraf; print(pycraf.__version__)")
      git add -A && git commit -m "Update docs for $docs_version ***NO_CI***"
      bash ../retry.sh git push github
    displayName: Publish docs
    condition: and(succeeded(), eq(variables['publish.docs'], true))

  - task: TwineAuthenticate@1
    inputs:
      pythonUploadServiceConnection: pypi
    displayName: 'Twine Authenticate'

  - bash: |
      rm -rf build
      docker run -e NPY_NUM_BUILD_JOBS=4 -e PLAT=$(plat) -e package_name=$(package_name) -e py_whl=$(py_whl) --rm -v `pwd`:/io $(image) /io/.ci/build-wheels.sh
      ls -lh wheelhouse/
      mkdir -p dist
      cp wheelhouse/$(package_name)*.whl dist/.
      ls dist
    displayName: Build wheels, Linux
    condition: and(succeeded(), startsWith(variables['Agent.OS'], 'Linux'))

  - script: |
      $(conda.activate) pycraf-env
      python setup.py bdist_wheel
    displayName: Build wheels, MacOS/Windows
    condition: and(succeeded(), not(startsWith(variables['Agent.OS'], 'Linux')))

  # twine upload with python 3.5 doesn't work?
  # (pkg_resources.DistributionNotFound: The 'readme-renderer>=21.0' distribution was not found)
  # will use system python for upload
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'

  - script: |
      pip install twine
      ls dist/*.whl
      python -m twine upload -r "pypi" --config-file $(PYPIRC_PATH) dist/*.whl
    displayName: Upload wheels, Linux/MacOS
    condition: and(succeeded(), eq(variables['publish.wheels'], true), not(startsWith(variables['Agent.OS'], 'Windows')))

  - script: |
      pip install twine
      ls dist/*.whl
      python -m twine upload -r "pypi" --config-file %PYPIRC_PATH% dist/*.whl
    displayName: Upload wheels, Windows
    condition: and(succeeded(), eq(variables['publish.wheels'], true), startsWith(variables['Agent.OS'], 'Windows'))

  - script: |
      $(conda.activate) pycraf-env
      python setup.py sdist
    displayName: Build tarball
    condition: and(succeeded(), eq(variables['build.tarball'], true))

  - script: |
      $(conda.activate) pycraf-env
      ls dist/*.tar.gz
      python -m twine upload -r "pypi" --config-file $(PYPIRC_PATH) dist/*.tar.gz
    displayName: Upload tarball
    condition: and(succeeded(), eq(variables['publish.tarball'], true))

  - script: rm ~/.ssh/id_rsa || true
    displayName: 'Cleanup docs deploy key'
    condition: and(always(), eq(variables['publish.docs'], true))
